/*! All styles*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: sans-serif;
}

:root {
  --white-color: #fff;
  --black-color: #000;
  --first-color: #333333;
  --second-color: #bdbdbd;
  --thirdh-color: #fbfbfb;
  --fourth-color: #f3f3f3;
  --fifth-color: #c30000;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

/*! Navbar styles */

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: auto;
  padding: 30px 0;
}

header nav ul {
  display: flex;
  gap: 2.5rem;
}

header nav a {
  text-transform: uppercase;
  color: var(--first-color);
  font-weight: bold;
}

header nav .menu-bars {
  display: none;
}

header nav .active {
  border-top: 1px solid var(--first-color);
  border-bottom: 1px solid var(--first-color);
}

/*! Main*/

main .nurtown {
  display: flex;
  justify-content: space-between;
  width: 75rem;
  margin: auto;
  margin-top: 0.5rem;
}

main .nurtown-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 17.36rem;
  margin: auto;
}

main .nurtown-head div {
  font-size: 4rem;
}

main .nurtown-first-title {
  color: var(--second-color);
}

main .nurtown-second-title {
  font-weight: 700;
}

main .nurtown-body {
  display: flex;
  align-items: center;
  margin-top: 5rem;
}

main .nurtown-vektor {
  display: flex;
  align-items: center;
  gap: 2rem;
}

main .nurtown-line {
  position: absolute;
  top: 59.5%;
  left: 28%;
}

main .nurtown-footer {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 5rem;
}

main .nurtown-footer div {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--second-color);
}

main .nurtown-img img {
  position: relative;
}

main .nurtown-look button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: absolute;
  background-color: var(--white-color);
  width: 15rem;
  margin: auto;
  bottom: -36%;
  padding: 2rem 2.5rem;
  border: none;
  text-transform: uppercase;
  font-size: 1.1rem;
}

main .team {
  display: flex;
  gap: 2rem;
  background-color: var(--thirdh-color);
  width: 75rem;
  height: 29.1875rem;
  margin: auto;
  padding: 3rem 2.5rem 0 5rem;
  margin-top: 10rem;
  z-index: -1;
}

main .team-img {
  display: flex;
  align-items: center;
  gap: 2rem;
  z-index: 1;
}

main .team-column-img,
.team-column-img img {
  margin-top: 2rem;
}

main .team-head,
.goal-head,
.projects-head,
.contact-head {
  font-size: 4rem;
  color: var(--second-color);
}

main .team-body {
  line-height: 1.56rem;
  margin-top: 2rem;
}

main .team-footer button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--white-color);
  width: 17rem;
  margin-top: 2rem;
  padding: 2rem 2.5rem;
  border: none;
  text-transform: uppercase;
  font-size: 1.1rem;
}

main .goals {
  width: 75rem;
  margin: auto;
  margin-top: 13rem;
}

main .main-goals {
  display: flex;
  justify-content: space-between;
  gap: 15rem;
}

main .goal {
  display: flex;
  gap: 2rem;
  width: 35rem;
  margin: auto;
  margin-top: 3rem;
}

main .custom-goal {
  width: 25rem;
}

main .goal-info {
  font-size: 1.375rem;
  line-height: 2.25rem;
  color: var(--first-color);
}

main .projects {
  width: 75rem;
  margin: auto;
  margin-top: 10rem;
}

main .projects-img {
  position: relative;
  display: flex;
  gap: 1.9rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}

main .new-project_bg {
  z-index: -1;
}

main .new-project_front {
  position: absolute;
  top: 0;
  z-index: 1;
}

main .new-project-title {
  position: absolute;
  top: 5%;
  padding: 1rem 3rem;
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white-color);
  z-index: 2;
  width: 35.625rem;
  text-align: center;
}

main .new-project-more {
  position: absolute;
  top: 38%;
  left: 9.5rem;
  width: 8rem;
  text-align: center;
  z-index: 2;
}

main .new-project-more button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: transparent;
  color: var(--white-color);
  text-transform: uppercase;
  font-size: 0.75rem;
  border: none;
}

main .project-button {
  display: flex;
  justify-content: flex-end;
  width: 71.3rem;
  margin: auto;
  margin-top: 2rem;
}

main .project-button button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  background-color: var(--first-color);
  color: var(--white-color);
  font-size: 0.75rem;
  text-transform: uppercase;
  padding: 2rem;
  width: 15rem;
}

main .contact {
  width: 75rem;
  margin: auto;
  margin-top: 5rem;
}

main .contact-us {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

main .contact-form {
  width: 24rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 23.0625rem;
  gap: 0.56rem;
}

main .contact-info,
.contact-message {
  width: 20rem;
  background-color: var(--fourth-color);
  display: flex;
  padding: 0 1rem;
}

main .contact-info {
  height: 2.875rem;
  align-items: center;
}

main .contact-message {
  padding: 1rem;
  height: 9.1875rem;
}

main .contact-info,
.contact-message div {
  font-size: 0.875rem;
}

main .star {
  color: var(--fifth-color);
}

main .contact-path {
  margin-top: 5rem;
  margin-left: -3.9rem;
}

main .contact-send {
  width: 75rem;
  margin: auto;
  margin-top: 2rem;
}

main .contact-body {
  width: 25.5rem;
  padding: 0 4rem;
  font-size: 0.875rem;
  line-height: 1.1rem;
  color: var(--first-color);
}

main .contact-footer {
  width: 20rem;
  padding: 0 2rem;
}

main .contact-footer button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--first-color);
  text-transform: uppercase;
  width: 13.875rem;
  height: 4.4375rem;
  color: var(--white-color);
}
