/*! All styles*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: sans-serif;
}

:root {
  --white-color: #fff;
  --black-color: #000;
  --first-color: #333333;
  --second-color: #bdbdbd;
  --thirdh-color: #fbfbfb;
  --fourth-color: #333333;
  --fifth-color: #2c2c2c;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white-color);
}

/*! Header styles */

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: auto;
  padding: 30px 0;
}

header nav ul {
  display: flex;
  gap: 2.5rem;
}

header nav a {
  text-transform: uppercase;
  color: var(--first-color);
  font-weight: bold;
}

header nav .menu-bars {
  display: none;
}

header nav .active {
  border-top: 1px solid var(--first-color);
  border-bottom: 1px solid var(--first-color);
}

/*! Main */

main .gallery {
  width: 75rem;
  margin: auto;
}

main .gallery-first-head,
.gallery-second-head {
  font-size: 4rem;
}

main .gallery-first-head {
  color: var(--second-color);
}

main .gallery-second-head {
  color: var(--fourth-color);
}

main hr {
  margin: 2rem 0;
}

main .gallery-img {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  gap: 2.33rem;
}

main .gallery-description {
  position: absolute;
  top: 24.88686%;
  width: 13.125rem;
  height: 7.5rem;
  padding: 1rem;
  background-color: var(--thirdh-color);
}

main .gallery-panel {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 3rem;
}
main .gallery-selected {
  display: flex;
  align-items: center;
  gap: 2rem;
}

main .gallery-first-select,
.gallery-second-select {
  font-size: 1.5rem;
  font-weight: 400;
}

main .gallery-first-select {
  color: var(--first-color);
}

main .gallery-second-select {
  color: var(--second-color);
}

main .gallery-vektor {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/*! Footer*/

footer {
  background-color: var(--fifth-color);
}

footer .footer {
  display: flex;
  justify-content: space-between;
  width: 75rem;
  margin: auto;
  margin-top: 5rem;
  padding: 4rem 0;
}

footer .information-head,
.footer-contact-head,
.media-head {
  font-size: 1.2rem;
  color: var(--white-color);
}

footer .information-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2rem;
}

footer .contact-about {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  line-height: 2.8rem;
}

footer .social-icons {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  font-size: 1.3rem;
}
