/*! All styles*/

/** Page styles*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/** Html styles */

html {
  font-size: 16px;
  font-family: sans-serif;
}

/** Colors*/

:root {
  --white-color: #fff;
  --black-color: #000;
  --first-color: #333333;
  --second-color: #bdbdbd;
  --thirdh-color: #fbfbfb;
  --fourth-color: #2c2c2c;
  --fifth-color: #f2f2f2;
  --sixth-color: #c8c8c880;
}

/** List styles */

ul,
li {
  list-style: none;
}

/** Link styles */

a {
  text-decoration: none;
  color: var(--white-color);
}

/** Button styles */

button {
  cursor: pointer;
}

/*! Header styles */

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75rem;
  margin: auto;
  padding: 30px 0;
}

header nav ul {
  display: flex;
  gap: 2.5rem;
}

header nav a {
  text-transform: uppercase;
  color: var(--first-color);
  font-weight: bold;
}

header nav .menu-bars {
  display: none;
}

header nav .active {
  border-top: 1px solid var(--first-color);
  border-bottom: 1px solid var(--first-color);
}

/*! Main styles */

main .projects {
  width: 75rem;
  margin: auto;
  margin-top: 2rem;
}

main .project-first-head,
.project-second-head {
  font-size: 4rem;
  text-transform: uppercase;
}

main .project-first-head {
  color: var(--second-color);
}

main .project-second-head {
  color: var(--first-color);
  font-weight: 700;
}

main .project {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  background-color: var(--thirdh-color);
}

main hr {
  margin: 2rem 0;
}

main .project-title {
  margin-top: 3rem;
  font-size: 2.5rem;
  color: var(--second-color);
}

main .project-body {
  margin-top: 2rem;
  line-height: 1.5625rem;
}

main .project-footer {
  margin-top: 3rem;
}

main .project-footer button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 13.875rem;
  height: 4.4375rem;
  text-transform: uppercase;
  color: var(--first-color);
  background-color: var(--white-color);
  border: none;
}

main .project-panel {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 3rem;
}
main .project-selected {
  display: flex;
  align-items: center;
  gap: 2rem;
}

main .project-first-select,
.project-second-select {
  font-size: 1.5rem;
  font-weight: 400;
}

main .project-first-select {
  color: var(--first-color);
}

main .project-second-select {
  color: var(--second-color);
}

main .project-vektor {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/*! Footer styles*/

footer {
  background-color: var(--fourth-color);
}

footer .footer {
  display: flex;
  justify-content: space-between;
  width: 75rem;
  margin: auto;
  margin-top: 5rem;
  padding: 4rem 0;
}

footer .information-head,
.footer-contact-head,
.media-head {
  font-size: 1.2rem;
  color: var(--white-color);
}

footer .information-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2rem;
}

footer .contact-about {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  line-height: 2.8rem;
}

footer .social-icons {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  font-size: 1.3rem;
}

footer .footer-hr {
  width: 100%;
  background-color: var(--white-color);
  height: 0.01rem;
  opacity: 10%;
}

footer .footer-copyright {
  text-align: center;
  padding: 2rem 0;
  color: var(--sixth-color);
}
